<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>VPN Device Manager</title>
    <link rel="icon" type="image/x-icon" href="img/logo.ico">
    <link rel="stylesheet" href="vpnmanager.css">
</head>

<body>
    <header>
        <a onclick="redirectToPort80()" class="logo">
            <img src="img/logo.png" alt="Logo" title="Click here to navigate to the current URL on port 80." style="width: 48px; height: 48px;">
        </a>
        <h1 class="header-title">VPN Device Manager</h1>
    </header>

    <div id="app" class="container mx-auto">
        <div v-if="authenticated === true">
            <h2 class="logout-header">
                <img src="img/user.svg" alt="User Icon" class="user-icon">
                {{username}}· 
                <span class="logout-text" @click="logout">Logout</span>
            </h2>
            <div class="container-ClientNew">
                <div class="flex flex-row flex-auto items-center p-3 px-5 border border-b-2 border-gray-100">
                    <div class="flex-grow text-center">
                        <h1 class="device-title text-2xl font-bold">
                            <img src="img/cellphone.svg" alt="Cellphone" class="device-icon">
                            <img src="img/tablet.svg" alt="Tablet" class="device-icon">
                            <img src="img/desktop.svg" alt="Desktop" class="device-icon">
                        </h1>
                    </div>
                    <div class="flex-shrink-0">
                        <div @click="clientCreate = true; clientCreateName = '';" class="add-device-text" title="Add New Device">
                            Add New Device
                        </div>
                    </div>
                </div>

                <div class="div-client">
                    <div v-if="clients && clients.length > 0" v-for="client in clients" :key="client.name" class="p-5 flex flex-row device-item">
                        <div class="h-10 w-10 mr-5 rounded-full bg-gray-50 relative">
                            <img v-if="client.avatar" :src="client.avatar" class="w-10 rounded-full absolute top-0 left-0" />

                            <div v-if="client.latestHandshake && ((new Date() - new Date(client.latestHandshake) < 1000 * 60 * 10))">
                                <div class="animate-ping w-4 h-4 p-1 bg-green-100 rounded-full absolute -bottom-1 -right-1"></div>
                                <div class="w-2 h-2 bg-green-300 rounded-full absolute bottom-0 right-0"></div>
                            </div>
                        </div>

                        <div class="flex-grow device-details">
                            <div class="device-name" :title="'Created at ' + dateTime(new Date(client.createdAt))">
                                {{client.name}}
                            </div>
                            <div v-if="client.allowedIps" class="text-gray-300 text-xs strong-green"><span class="strong-green">{{client.allowedIps.split('/')[0]}}</span> <span v-if="client.transferTx" title="Download">· {{client.transferTx | bytes}}</span> <span v-if="client.transferRx" title="Upload">· {{client.transferRx | bytes}}</span> <span v-if="client.latestHandshake" :title="'Last seen at ' + dateTime(new Date(client.latestHandshake))">· {{new Date(client.latestHandshake) | timeago}}</span>
                            </div>
                        </div>

                        <div class="text-right">
                            <div class="text-gray-400">
                                <!-- Active State Button -->
                                <button @click="disableClient(client)" v-if="client.enabled === true" title="Enabled" class="toggle-button bg-green-400 hover:bg-green-500">
                                    <img src="img/on_off.svg" alt="Toggle" class="toggle-icon">
                                </button>

                                <!-- Inactive State Button -->
                                <button @click="enableClient(client)" v-if="client.enabled === false" title="Disabled" class="toggle-button bg-red-400 hover:bg-red-500">
                                    <img src="img/on_off.svg" alt="Toggle" class="toggle-icon">
                                </button>

                                <!-- Show QR -->
                                <img @click="qrcode = `/api/wireguard/client/${client.name}/qrcode.svg`" src="img/qr.svg" class="icon cursor-pointer" title="Show QR Code">

                                <!-- Download Configuration -->
                                <img @click="downloadFile(client.name)" src="img/download.svg" class="icon cursor-pointer" title="Download Wireguard Desktop Configuration">

                                <!-- Delete -->
                                <img @click="clientDelete = client" src="img/delete.svg" class="icon cursor-pointer" title="Delete Device">
                            </div>
                        </div>
                    </div>
                    <div v-if="clients && clients.length === 0">
                        <p class="text-center m-10 text-gray-400 text-sm">There are no devices yet.<br /><br />
                            <div @click="clientCreate = true; clientCreateName = '';" class="add-device-text" title="Add New Device">
                                Add New Device
                            </div>
                        </p>
                    </div>
                    <div v-if="clients === null" class="text-gray-200 p-5"></div>
                </div>
            </div>

            <!-- Modal Structure for New Device -->
            <div v-if="clientCreate" class="modal-overlay" @click.self="clientCreate = false">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">New Device</h2>
                        <button class="modal-close" @click="clientCreate = false">×</button>
                    </div>
                    <div class="modal-body">
                        <input class="mt-4 p-3 w-full border rounded" type="text" v-model.trim="clientCreateName" placeholder="Device Name" />
                    </div>
                    <div class="modal-footer mt-6 flex justify-end">
                        <button v-if="clientCreateName.length" @click="createClient(); clientCreate = false;" class="modal-button">Create</button>
                        <button @click="clientCreate = false" class="modal-button ml-2">Cancel</button>
                    </div>
                </div>
            </div>

            <!-- QR Code Modal -->
            <div v-if="qrcode" class="modal-overlay">
                <div class="modal-content">
                    <button @click="qrcode = null" class="modal-close">×</button>
                    <img :src="qrcode" class="w-full max-w-xs mx-auto qr-code-half-size" />
                </div>
            </div>

            <!-- Delete Dialog -->
            <div v-if="clientDelete" class="modal-overlay">
                <div class="modal-content">
                    <h3 class="modal-title text-center">Delete Device</h3>
                    <p class="mt-4 text-center">Are you sure you want to delete <strong>{{clientDelete.name}}</strong>? This action cannot be undone.</p>
                    <div class="modal-footer mt-6 flex justify-center">
                        <button @click="deleteClient(clientDelete); clientDelete = null" class="modal-button bg-red-600 hover:bg-red-700 text-white">Delete</button>
                        <button @click="clientDelete = null" class="modal-button bg-gray-300 hover:bg-gray-400 text-gray-700 ml-2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="authenticated === false">
            <form @submit="login" class="sign-form">
                <img src="img/vpn.svg" alt="VPN Icon" class="form-icon">
                <input type="text" name="username" placeholder="User" v-model="username" class="form-input" required />
                <input type="password" name="password" placeholder="Password" v-model="password" class="form-input" required />
                <input type="text" name="multiFactorAuthCode" v-if="useMfa" placeholder="2FA Code" v-model="multiFactorAuthCode" class="form-input" />

                <button v-if="authenticating" class="authenticating-button">Authenticating...</button>
                <input v-if="!authenticating && password" type="submit" class="submit-button" value="Sign In">
                <input v-if="!authenticating && !password" type="submit" class="submit-button" value="Sign In">
            </form>
        </div>

        <div v-if="authenticated === null" class="text-gray-300 pt-24 pb-12"></div>
    </div>

    <footer>
        <div class="footer-content">
            <a href="https://www.myhousevpn.com" target="_blank"><img src="img/logo_v2.png" alt="MyHouseVPN LOGO V2"></a>
            <h3><p>“Securing Your Digital Future Today”</p></h3>
        </div>
    </footer>

    <script src="/js/vendor/vue.min.js"></script>
    <script src="/js/vendor/md5.min.js"></script>
    <script src="/js/vendor/timeago.min.js"></script>
    <script src="/js/pivpn.js"></script>
    <script src="/js/app.js"></script>
    <script>
        function downloadFile(clientName) {
            const url = '/api/wireguard/client/' + clientName + '/configuration';
            fetch(url)
                .then(response => response.blob())
                .then(blob => {
                    // Set the MIME type to 'application/octet-stream' to force download
                    const file = new Blob([blob], { type: 'application/octet-stream' });
                    const filename = clientName + '.conf';
                    const link = document.createElement('a');
                    link.href = URL.createObjectURL(file);
                    link.setAttribute('download', filename);
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                })
                .catch(error => {
                    console.error('Error downloading configuration:', error);
                });
        }

        function redirectToPort80() {
            const currentUrl = window.location.hostname;
            window.location.href = `http://${currentUrl}:80`;
        }

        function enableClient(client) {
            client.enabled = true;
            // Add your enabling logic here
        }

        function disableClient(client) {
            client.enabled = false;
            // Add your disabling logic here
        }
    </script>
</body>

</html>
